.comment {
  border: 2px solid #ccc;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  position: relative;
  background-color: white;
  border-radius: 10px;
}

.comment .actions button.reply {
  position: absolute;
  top: 10px;
  right: 10px;
}

.comment .vote-buttons div {
  cursor: pointer;
  font-size: 20px;
  color: #3f467d;
  padding: 5px;
}

.comment .content-area {
  display: flex;
  flex-direction: column;
}

.comment .user-info {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* align items to the left */
  gap: 5px; /* reduce space between items */
}

.comment img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.comment .user-info p {
  margin: 0;
}

.comment p {
  flex: 1; /* Ensuring the comment text takes up remaining space */
}

.comment input[type="text"] {
  flex: 1; /* Ensuring the input field takes up remaining space when editing */
}

.comment .actions {
  display: flex;
}

.comment .reply {
  position: absolute;
  right: 10px;
  top: 10px;
}
