.comment {
  border: 2px solid #ccc;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  position: relative;
  background-color: white;
  border-radius: 10px;
}

.comment .vote-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.comment .content-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.comment .user-info {
  display: flex;
  align-items: center;
}

.comment img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 10px;
}

.comment .info p {
  margin: 0;
  margin-right: 10px;
}

.comment p {
  flex: 1; /* Ensuring the comment text takes up remaining space */
}

.comment input[type="text"] {
  flex: 1; /* Ensuring the input field takes up remaining space when editing */
}

.actions {
  display: flex;
}

.replies-container {
  margin-left: 40px; /* Adjust as needed to align replies */
}
