.comment {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  position: relative;
  background-color: white;
  border-radius: 10px;
}

.comment .actions button.reply,
.comment .actions button.delete {
  position: absolute;
  top: 10px;
  border: none;
  color: #3e4daf;
  cursor: pointer;
  padding: 5px 5px;
}

.comment .actions button.reply {
  right: 10px;
}

.comment .actions button.delete {
  background-color: white;
  color: #f24537;
  right: 60px;
}

.vote-buttons {
  padding: 5px;
}

.comment .vote-buttons div {
  cursor: pointer;
  font-size: 20px;
  color: #3f467d;
  padding: 5px;
}

.comment .content-area {
  padding-left: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.comment .user-info {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* align items to the left */
  gap: 5px; /* reduce space between items */
}

.comment img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}

.comment .user-info p {
  margin: 0;
}

.comment input[type="text"] {
  flex: 1; /* Ensuring the input field takes up remaining space when editing */
}

.comment .actions {
  display: flex;
}

.timestamp {
  flex-grow: 1;
}
