.comment-section {
  max-width: 700px; /* Setting max-width to 500px */
  min-width: 320px;
  margin: 10px auto; /* Centering by setting auto margin on left and right */
  padding: 0 12px;
}

.replies-container {
  margin-left: 20px;
}

.comment-input-container {
  max-width: 700px; /* Setting max-width to 500px */
  min-width: 320px;
  margin: 10px auto; /* Centering by setting auto margin on left and right */
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0; /* Add padding as required */
  border-radius: 10px;
}

.new-comment-container {
  display: flex; /* Makes the children sit in a line */
  justify-content: space-between; /* Gives space between input and button */
  align-items: center; /* Aligns items vertically in the center */
  width: 100%; /* Takes full width of parent */
  max-width: 600px; /* You can adjust this based on your preference */
  padding: 10px; /* Internal padding for the container */
}

.new-comment-container input {
  flex: 1; /* Takes all available space */
  margin-right: 10px; /* Space between input and button */
  padding: 8px 12px; /* Padding inside input */
  border: 1px solid #ccc; /* Border for the input */
  border-radius: 4px; /* Rounded corners for input */
}

.comment-btn {
  background-color: #3f51b4; /* Background color for button */
  color: white; /* Text color */
  border: none; /* Removes default border */
  cursor: pointer; /* Hand cursor on hover */
  padding: 10px 15px; /* Padding for the button */
  border-radius: 4px; /* Rounded corners for the button */
  transition: 0.3s background-color; /* Smooth color change on hover */
}

.comment-user-image {
  width: 40px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  border-radius: 50%; /* Makes the image round */
  object-fit: cover; /* Makes sure the image doesn't stretch */
}
