.comment-section {
  max-width: 500px; /* Setting max-width to 500px */
  min-width: 320px;
  margin: 10px auto; /* Centering by setting auto margin on left and right */
  padding: 0 12px;
}

.replies-container {
  margin-left: 100px;
}
